<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Leaders>
	</Leaders>
	<LeaderItems>

	</LeaderItems>
	<LeaderTags>

	</LeaderTags>
	<LeaderQuotes>

	</LeaderQuotes>
	<LeaderCivilizationBias>

	</LeaderCivilizationBias>
	<Civilizations>
		<Row Domain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY_JEC" CivilizationName="LOC_CIVILIZATION_SWISS_CONFEDERACY_JEC_NAME" CivilizationFullName="LOC_CIVILIZATION_SWISS_CONFEDERACY_JEC_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_SWISS_CONFEDERACY_JEC_DESCRIPTION" CivilizationIcon="civ_sym_swiss_confederacy.png"/>
	</Civilizations>
	<CivilizationItems>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY_JEC" Type="TRAIT_SWISS_CONFEDERACY_JEC_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_SWISS_CONFEDERACY_JEC_ABILITY_NAME" Description="LOC_TRAIT_SWISS_CONFEDERACY_JEC_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY_JEC" Type="UNIT_PIKE_SQUARE_JEC" Kind="KIND_UNIT" Name="LOC_UNIT_PIKE_SQUARE_JEC_NAME" Description="LOC_UNIT_PIKE_SQUARE_JEC_BASE_DESCRIPTION" Icon="ICON_UNIT_PIKE_SQUARE_JEC"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY_JEC" Type="UNIT_AMTSBURGERMEISTER_JEC" Kind="KIND_UNIT" Name="LOC_UNIT_AMTSBURGERMEISTER_JEC_NAME" Description="LOC_UNIT_AMTSBURGERMEISTER_JEC_DESCRIPTION" Icon="ICON_UNIT_AMTSBURGERMEISTER_JEC"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY_JEC" Type="UNIT_LEHRBEAUFTRAGTER_JEC" Kind="KIND_UNIT" Name="LOC_UNIT_LEHRBEAUFTRAGTER_JEC_NAME" Description="LOC_UNIT_LEHRBEAUFTRAGTER_JEC_DESCRIPTION" Icon="ICON_UNIT_LEHRBEAUFTRAGTER_JEC"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY_JEC" Type="QUARTER_FURSTABTEI" Kind="KIND_QUARTER" Name="LOC_QUARTER_FURSTABTEI_NAME" Description="LOC_QUARTER_FURSTABTEI_DESCRIPTION" Icon="city_uniquequarter"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY_JEC" Type="BUILDING_KLOSTER_JEC" Kind="KIND_BUILDING" Name="LOC_BUILDING_KLOSTER_JEC_NAME" Description="LOC_BUILDING_KLOSTER_JEC_DESCRIPTION" Icon="ICON_BUILDING_KLOSTER_JEC"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY_JEC" Type="BUILDING_STIFTSARCHIV_JEC" Kind="KIND_BUILDING" Name="LOC_BUILDING_STIFTSARCHIV_JEC_NAME" Description="LOC_BUILDING_STIFTSARCHIV_JEC_DESCRIPTION" Icon="ICON_BUILDING_STIFTSARCHIV_JEC"/>
	</CivilizationItems>
	<CivilizationTags>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY_JEC" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY_JEC" TagType="TAG_TRAIT_SCIENTIFIC"/>
	</CivilizationTags>
	<LeaderCivilizationBias>
		<!-- base -->
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY_JEC" LeaderDomain="StandardLeaders" LeaderType="LEADER_FRIEDRICH" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_FRIEDRICH_SWISS_CONFEDERACY_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY_JEC" LeaderDomain="StandardLeaders" LeaderType="LEADER_CHARLEMAGNE" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_CHARLEMAGNE_SWISS_CONFEDERACY_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<!-- DLC -->
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY_JEC" LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_NAPOLEON_SWISS_CONFEDERACY_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY_JEC" LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON_ALT" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_NAPOLEON_ALT_SWISS_CONFEDERACY_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY_JEC" LeaderDomain="StandardLeaders" LeaderType="LEADER_FRIEDRICH_ALT" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_FRIEDRICH_ALT_SWISS_CONFEDERACY_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
	
	</LeaderCivilizationBias>
	<LeaderUnlocks>
		<!-- Base -->
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_FRIEDRICH" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SWISS_CONFEDERACY_JEC" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SWISS_CONFEDERACY_JEC_NAME" Description="LOC_CIVILIZATION_SWISS_CONFEDERACY_JEC_DESCRIPTION" Icon="CIVILIZATION_SWISS_CONFEDERACY_JEC"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_CHARLEMAGNE" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SWISS_CONFEDERACY_JEC" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SWISS_CONFEDERACY_JEC_NAME" Description="LOC_CIVILIZATION_SWISS_CONFEDERACY_JEC_DESCRIPTION" Icon="CIVILIZATION_SWISS_CONFEDERACY_JEC"/>

		<!-- DLC -->
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SWISS_CONFEDERACY_JEC" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SWISS_CONFEDERACY_JEC_NAME" Description="LOC_CIVILIZATION_SWISS_CONFEDERACY_JEC_DESCRIPTION" Icon="CIVILIZATION_SWISS_CONFEDERACY_JEC"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_NAPOLEON_ALT" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SWISS_CONFEDERACY_JEC" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SWISS_CONFEDERACY_JEC_NAME" Description="LOC_CIVILIZATION_SWISS_CONFEDERACY_JEC_DESCRIPTION" Icon="CIVILIZATION_SWISS_CONFEDERACY_JEC"/>
		<Row LeaderDomain="StandardLeaders" LeaderType="LEADER_FRIEDRICH_ALT" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SWISS_CONFEDERACY_JEC" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SWISS_CONFEDERACY_JEC_NAME" Description="LOC_CIVILIZATION_SWISS_CONFEDERACY_JEC_DESCRIPTION" Icon="CIVILIZATION_SWISS_CONFEDERACY_JEC"/>
		
	</LeaderUnlocks>

	<CivilizationUnlocks>
		<!-- AntiquityAgeCivilizations -->
		<Row CivilizationDomain="AntiquityAgeCivilizations" CivilizationType="CIVILIZATION_GERMANIA_JEC" AgeDomain="StandardAges" AgeType="AGE_EXPLORATION" Type="CIVILIZATION_SWISS_CONFEDERACY_JEC" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_SWISS_CONFEDERACY_JEC_NAME" Description="LOC_CIVILIZATION_SWISS_CONFEDERACY_JEC_DESCRIPTION" Icon="CIVILIZATION_SWISS_CONFEDERACY_JEC"/>
		<!-- ExplorationAgeCivilizations -->
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY_JEC" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_PRUSSIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_PRUSSIA_NAME" Description="LOC_CIVILIZATION_PRUSSIA_DESCRIPTION" Icon="CIVILIZATION_PRUSSIA"/>
	</CivilizationUnlocks>

	<LeaderUnlocks>

	</LeaderUnlocks>
	<Mementos>

	</Mementos>
</Database>