<?xml version="1.0" encoding="utf-8"?>
<Database>
	<Leaders>
	</Leaders>
	<LeaderItems>

	</LeaderItems>
	<LeaderTags>

	</LeaderTags>
	<LeaderQuotes>

	</LeaderQuotes>
	<LeaderCivilizationBias>

	</LeaderCivilizationBias>
	<Civilizations>
		<Row Domain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY" CivilizationName="LOC_CIVILIZATION_SWISS_CONFEDERACY_NAME" CivilizationFullName="LOC_CIVILIZATION_SWISS_CONFEDERACY_FULLNAME" CivilizationDescription="LOC_CIVILIZATION_SWISS_CONFEDERACY_DESCRIPTION" CivilizationIcon="civ_sym_swiss_CONFEDERACY.png"/>
	</Civilizations>
	<CivilizationItems>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY" Type="TRAIT_SWISS_CONFEDERACY_ABILITY" Kind="KIND_TRAIT" Name="LOC_TRAIT_SWISS_CONFEDERACY_ABILITY_NAME" Description="LOC_TRAIT_SWISS_CONFEDERACY_ABILITY_DESCRIPTION"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY" Type="UNIT_PIKE_SQUARE" Kind="KIND_UNIT" Name="LOC_UNIT_PIKE_SQUARE_NAME" Description="LOC_UNIT_PIKE_SQUARE_BASE_DESCRIPTION" Icon="ICON_UNIT_PIKE_SQUARE"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY" Type="UNIT_AMTSBURGERMEISTER" Kind="KIND_UNIT" Name="LOC_UNIT_AMTSBURGERMEISTER_NAME" Description="LOC_UNIT_AMTSBURGERMEISTER_DESCRIPTION" Icon="ICON_UNIT_AMTSBURGERMEISTER"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY" Type="QUARTER_FURSTABTEI" Kind="KIND_QUARTER" Name="LOC_QUARTER_FURSTABTEI_NAME" Description="LOC_QUARTER_FURSTABTEI_DESCRIPTION" Icon="city_uniquequarter"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY" Type="BUILDING_KLOSTER" Kind="KIND_BUILDING" Name="LOC_BUILDING_KLOSTER_NAME" Description="LOC_BUILDING_KLOSTER_DESCRIPTION" Icon="ICON_BUILDING_KLOSTER"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY" Type="BUILDING_STIFTSARCHIV" Kind="KIND_BUILDING" Name="LOC_BUILDING_STIFTSARCHIV_NAME" Description="LOC_BUILDING_STIFTSARCHIV_DESCRIPTION" Icon="ICON_BUILDING_STIFTSARCHIV"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY" Type="UNIT_LEHRBEAUFTRAGTER" Kind="KIND_UNIT" Name="LOC_UNIT_LEHRBEAUFTRAGTER_NAME" Description="LOC_UNIT_LEHRBEAUFTRAGTER_DESCRIPTION" Icon="ICON_UNIT_LEHRBEAUFTRAGTER"/>
	</CivilizationItems>
	<CivilizationTags>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY" TagType="TAG_TRAIT_MILITARISTIC"/>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY" TagType="TAG_TRAIT_SCIENTIFIC"/>
	</CivilizationTags>
	<LeaderCivilizationBias>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY" LeaderDomain="StandardLeaders" LeaderType="LEADER_FRIEDRICH" Bias="3" ReasonType="LOC_UNLOCK_PLAY_AS_FRIEDRICH_SWISS_CONFEDERACY_TOOLTIP" ChoiceType="LOC_CREATE_GAME_GEOGRAPHIC_CHOICE" />
	</LeaderCivilizationBias>
	<CivilizationUnlocks>
		<Row CivilizationDomain="ExplorationAgeCivilizations" CivilizationType="CIVILIZATION_SWISS_CONFEDERACY" AgeDomain="StandardAges" AgeType="AGE_MODERN" Type="CIVILIZATION_PRUSSIA" Kind="KIND_CIVILIZATION" Name="LOC_CIVILIZATION_PRUSSIA_NAME" Description="LOC_CIVILIZATION_PRUSSIA_DESCRIPTION" Icon="ICON_CIVILIZATION_PRUSSIA"/>
	</CivilizationUnlocks>
	<LeaderUnlocks>

	</LeaderUnlocks>
	<Mementos>

	</Mementos>
</Database>